header {
    padding: 25px 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav  {
    display: flex;
    align-items: center;
    gap: 60px;

    a {
        color: #676767;
        font-size: 16px;
        line-height: 26px;

        &:first-child , &:hover{
            color: white;
        }

        
    }
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
        width: 2px;
        height: 25px;
        background-color: #676767;
    }

    img {
        &:hover {
            transform: rotateY(360deg);
            transition: 2s;
        }
    }
}