* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "_header.scss";

body {
    background-color: #0F0D0E;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}