* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "section-1.scss";

body {
    font-family: 'Montserrat', sans-serif;
    background: #0F0D0E;
}
a {
    text-decoration: none;
}